In [1]:
import pandas as pd
import json
import requests

In [2]:
dataSet = pd.read_csv("input/df.csv")
display(dataSet.head())

,Official Name,Country/Org of UN Registry,Country of Operator,Operator,Users,Purpose,Period (minutes),Date of Launch,Contractor,Country of Contractor,Launch Site,Launch Vehicle,NORAD Number,Year
0,3Cat-1,NR,Spain,Universitat Politècnica de Catalunya,Civil,Technology Development,95,11/29/2018,Universitat Politècnica de Catalunya,Spain,Satish Dhawan Space Centre,PSLV,43728,2018
1,Aalto-1,Finland,Finland,University of Aalto,Civil,Technology Development,94.7,6/23/2017,University of Aalto,Finland,Satish Dhawan Space Centre,PSLV,42775,2017
2,AAUSat-4,Denmark,Denmark,University of Aalborg,Civil,Earth Observation,95.9,4/25/2016,University of Aalborg,Denmark,Guiana Space Center,Soyuz 2.1a,41460,2016
3,ABS-2,NR,Multinational,Asia Broadcast Satellite Ltd.,Commercial,Communications,1436.03,2/6/2014,Space Systems/Loral,USA,Guiana Space Center,Ariane 5 ECA,39508,2014
4,ABS-2A,NR,Multinational,Asia Broadcast Satellite Ltd.,Commercial,Communications,1436.1,6/15/2016,Boeing Satellite Systems,USA,Cape Canaveral,Falcon 9,41588,2016

In [3]:
def getPosition(satelite):
    lat = 40.4165000
    long = -3.7025600
    apikey = "P49C4E-N8UEND-DFW7CV-4APH"
    url = f"https://www.n2yo.com/rest/v1/satellite/positions/{satelite}/{lat}/{long}/0/3/&apiKey={apikey}"
    
    response = requests.get(url)
    data = response.json()
    return data

In [4]:
df = getPosition(43935)

In [5]:
tabla=pd.DataFrame(df["positions"])
tabla

,satlatitude,satlongitude,sataltitude,azimuth,elevation,ra,dec,timestamp
0,-40.498401,147.164718,503.99,98.85,-78.54,110.579157,-41.192748,1580816506
1,-40.435719,147.146764,503.96,98.70,-78.53,110.567005,-41.161235,1580816507
2,-40.373037,147.128837,503.92,98.54,-78.52,110.554873,-41.129720,1580816508

In [6]:
df

{'info': {'satname': 'MICRODRAGON', 'satid': 43935, 'transactionscount': 0},
 'positions': [{'satlatitude': -40.49840121,
   'satlongitude': 147.16471762,
   'sataltitude': 503.99,
   'azimuth': 98.85,
   'elevation': -78.54,
   'ra': 110.57915678,
   'dec': -41.1927476,
   'timestamp': 1580816506},
  {'satlatitude': -40.43571919,
   'satlongitude': 147.1467641,
   'sataltitude': 503.96,
   'azimuth': 98.7,
   'elevation': -78.53,
   'ra': 110.56700457,
   'dec': -41.16123499,
   'timestamp': 1580816507},
  {'satlatitude': -40.37303693,
   'satlongitude': 147.12883674,
   'sataltitude': 503.92,
   'azimuth': 98.54,
   'elevation': -78.52,
   'ra': 110.5548726,
   'dec': -41.12971981,
   'timestamp': 1580816508}]}

In [7]:
import folium
from folium.plugins import FastMarkerCluster

map1 = folium.Map(
    location=[tabla["satlatitude"][0], tabla["satlongitude"][0]],
    tiles='CartoDB dark_matter',
    zoom_start=3,
)
tabla.apply(lambda row:folium.CircleMarker(location=[row["satlatitude"], row["satlongitude"]]).add_to(map1), axis=1)
map1