In [14]:
import pandas as pd
import json
import requests

In [16]:
dataSet = pd.read_csv("input/df.csv")
display(dataSet.head())

,Official Name,Country/Org of UN Registry,Country of Operator,Operator,Users,Purpose,Period (minutes),Date of Launch,Contractor,Country of Contractor,Launch Site,Launch Vehicle,NORAD Number
0,3Cat-1,NR,Spain,Universitat Politècnica de Catalunya,Civil,Technology Development,95,11/29/2018,Universitat Politècnica de Catalunya,Spain,Satish Dhawan Space Centre,PSLV,43728
1,Aalto-1,Finland,Finland,University of Aalto,Civil,Technology Development,94.7,6/23/2017,University of Aalto,Finland,Satish Dhawan Space Centre,PSLV,42775
2,AAUSat-4,Denmark,Denmark,University of Aalborg,Civil,Earth Observation,95.9,4/25/2016,University of Aalborg,Denmark,Guiana Space Center,Soyuz 2.1a,41460
3,ABS-2,NR,Multinational,Asia Broadcast Satellite Ltd.,Commercial,Communications,1436.03,2/6/2014,Space Systems/Loral,USA,Guiana Space Center,Ariane 5 ECA,39508
4,ABS-2A,NR,Multinational,Asia Broadcast Satellite Ltd.,Commercial,Communications,1436.1,6/15/2016,Boeing Satellite Systems,USA,Cape Canaveral,Falcon 9,41588

In [32]:
def getPosition(satelite):
    lat = 40.4165000
    long = -3.7025600
    apikey = "P49C4E-N8UEND-DFW7CV-4APH"
    url = f"https://www.n2yo.com/rest/v1/satellite/positions/{satelite}/{lat}/{long}/0/3/&apiKey={apikey}"
    
    response = requests.get(url)
    data = response.json()
    return data

In [33]:
def printPositions(43936)

SyntaxError: invalid syntax (<ipython-input-33-870476338ecf>, line 1)

In [30]:
data["positions"]

NameError: name 'data' is not defined

In [35]:
df = getPosition(43935)

In [36]:
tabla=pd.DataFrame(df["positions"])
tabla

,satlatitude,satlongitude,sataltitude,azimuth,elevation,ra,dec,timestamp
0,80.100299,81.332051,511.60,13.05,-19.97,123.750045,28.423979,1580733266
1,80.143331,81.058490,511.61,13.00,-19.94,123.802872,28.463496,1580733267
2,80.186145,80.782608,511.63,12.95,-19.91,123.855851,28.502990,1580733268

In [37]:
df

{'info': {'satname': 'MICRODRAGON', 'satid': 43935, 'transactionscount': 31},
 'positions': [{'satlatitude': 80.10029866,
   'satlongitude': 81.33205102,
   'sataltitude': 511.6,
   'azimuth': 13.05,
   'elevation': -19.97,
   'ra': 123.7500455,
   'dec': 28.42397898,
   'timestamp': 1580733266},
  {'satlatitude': 80.14333082,
   'satlongitude': 81.05848957,
   'sataltitude': 511.61,
   'azimuth': 13,
   'elevation': -19.94,
   'ra': 123.80287181,
   'dec': 28.46349567,
   'timestamp': 1580733267},
  {'satlatitude': 80.18614548,
   'satlongitude': 80.78260796,
   'sataltitude': 511.63,
   'azimuth': 12.95,
   'elevation': -19.91,
   'ra': 123.85585067,
   'dec': 28.50298993,
   'timestamp': 1580733268}]}

In [38]:
import folium
from folium.plugins import FastMarkerCluster

map1 = folium.Map(
    location=[tabla["satlatitude"][0], tabla["satlongitude"][0]],
    tiles='CartoDB dark_matter',
    zoom_start=3,
)
tabla.apply(lambda row:folium.CircleMarker(location=[row["satlatitude"], row["satlongitude"]]).add_to(map1), axis=1)
map1